* {
    font-family: "Quicksand", Arial, sans-serif;
}

body {
    margin: 0;
    background-image: url(assets/spiration-light.png);
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 5%;
}

article {
    float: left;
    background-color: #e5e5e5;
    width: 60%;
    margin: auto;
    padding: 5%;
}

article img {
    width: 40%;
    float: left;
    padding: 0 5% 5% 0;
}

.second {
    clear: left;
}


h1 {
    font-size: 36pt;
    margin: 1% 0;
}

aside {
    float: right;
    background-color: #e5e5e5; 
    height: 20%;
    margin: auto;
    padding: 2% 5%
}

.icons {
    display: flex;
    gap: 20px;
    height: 30%;
    justify-content: center;
    margin: 2% 5%;
    filter: drop-shadow(3px 3px 5px #40403f);
}

h2 {
    font-size: 16pt;
    text-align: center;
}
main::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 10%;
    border-top: solid 10px #d7d7d7;
}

h1, h2, h3 {
    color: #ad102f;
}

p {
    line-height: 1.5;
    color: #666666;
}

hr {
    border: 0;
    height: 2px;
    background-color: #d7d7d7;
    margin-bottom: 20px;
}