* {
    font-family: "Quicksand", Arial, sans-serif;
}

header {
    background-color: #e5e5e5;
    height: 10%;
    border-bottom: solid 5px #cbcbcb;
    align-items: center;
}

.nav-items {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    float: left;
    margin: 0;
    display: inline-block;
    background-color: white;
    padding: 0px 10px 0px 10px;
    height: 35px;

}

nav {
    float: right;
    overflow: hidden;
}

nav a {
    display: inline-block;
    padding: 0px 17px 0 34px;
    text-decoration: none;
    color: #666666;
    margin-left: 20px;
    font-weight: bold;
    border-left: solid 1px #cbcbcb;
}

nav a:first-child {
    border-left: none;
}


body {
    margin: 0;
    background-image: url(assets/spiration-light.png);
}

h3 {
    display: inline-block;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 2%;
}

article {
    float: left;
    background-color: #e5e5e5;
    width: 60%;
    margin: auto;
    padding: 5%;
}

article img {
    width: 40%;
    float: left;
    padding: 0 5% 5% 0;
}

.second {
    clear: left;
}


h1 {
    font-size: 36pt;
    margin: 1% ;
}

aside {
    float: right;
    background-color: #e5e5e5; 
    height: 20%;
    margin: auto;
    padding: 2% 
}

.icons {
    display: flex;
    gap: 20px;
    height: 30%;
    justify-content: center;
    margin: 2% 5%;
    filter: drop-shadow(3px 3px 5px #40403f);
}

h2 {
    font-size: 16pt;
    text-align: center;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 10%;
    border-top: solid 5px #cbcbcb;
}

h1, h2, h3 {
    color: #ad102f;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
    color: #666666;
}

hr {
    border: 0;
    height: 2px;
    background-color: #cbcbcb;
    margin-bottom: 20px;
}